		body {
            background-color: #AEEEEE;
            color: #000000;
            margin: 0;
            padding: 0;
            height: 100vh;
        }

        .header {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;
            background-color: #AEEEEE;
        }

        .header img {
            width: 50px;
            height: 50px;
        }

        .header a {
            color: #000000;
            text-decoration: none;
            margin: 0 20px;
            transition: color 0.3s;
            background-color: #8ACCCA;
            border: 7px solid #8ACCCA;
            border-radius: 15px;
            font-weight: bold;
            font-family: "Times New Roman", sans-serif;
            font-size: 30px;
        }

        .header a:hover {
            color: #FFBF00;
            background-color: #57A0D2;
            border: 7px solid #57A0D2;
        }

        h1 {
            text-align: center;
            background-color: rgba(255, 255, 158, 0.7);
            font-family: "Times New Roman", sans-serif;
            padding: 10px;
        }

        p {
            text-align: center;
            font-style: italic;
            padding: 20px;
            max-width: 100%;
            margin: 5px auto;
        }

        .additional-div p {
            text-align: center;
        }

        .additional-div {
            background-color: #FFF59E;
            padding: 10px;
        }

        .image-container {
            display: flex;
            justify-content: space-between;
            margin: 50px;
        }

        .image-container img {
            width: 300px;
            height: 300px;
            margin: 0 auto;
        }

        .footer {
            text-align: center;
            padding: 20px;
            background-color: rgba(255, 255, 158, 0.7);
        }

        .footer a {
            color: #000000;
            text-decoration: none;
        }

        .footer a:hover {
            text-decoration: underline;
        }

        .footer img {
            width: 30px;
        }

        .right-align {
            margin-left: auto;
        }
		
		.img1 {
            width: 550px;
            height: 400px;
            transform: translateX(510px);
        }
		
        .iframe {
            border: none;
            overflow: hidden;
            display: block;
            margin: 0 auto;
			scrolling: no;
		}
		